<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MetroCard Clicker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <div id="container">

    <!-- Left column: Big MetroCard clickable -->
    <div id="left-column" class="column">
      <div id="metrocard-container">
        <img src="{{ url_for('static', filename='images/metrocard.png') }}" id="metrocard-btn" alt="MetroCard" />
        <div id="metrocard-count">0</div>
        <div id="metrocard-cps">MetroCards per second: 0</div>
      </div>
    </div>

    <!-- Center column: Floors / Visual Upgrades -->
    <div id="center-column" class="column">
      <h2>NYC Floors</h2>
      <div id="floors-container">
        <!-- Floors will be added here as upgrades bought -->
      </div>
    </div>

    <!-- Right column: Upgrade buttons -->
    <div id="right-column" class="column">
      <h2>Upgrades</h2>
      <div id="upgrades-container">
        <!-- Upgrade buttons inserted here -->
      </div>
    </div>

  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
